.logo {
  height: 1em;
}

.range {
  transform: translateY(11px);
}

.range__values {
  display: flex;
  justify-content: space-between;
}

.range__values span {
  font-size: .6rem;
  font-weight: 100;
}

.quota__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quota__container h4 {
  font-weight: 200;
  font-size: 18px;
}

.quota strong {
  font-size: 21px;
  color: var(--dove-gray);
}

.quota span {
  font-size: 28px;
  color: var(--mountain-meadow);
  font-weight: bold;
}

@media screen and (max-width: 630px) {
  .main {
    height: auto;
    margin: 30px 0;
  }
}
